<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rnim.rn.audio">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
